<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Login | GPUFinder</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	
	<style type="text/css">
		body {
			background-image: url('img/subtlecarbon.png');			
		}

		.tabela {
			color: white;
			font-size: 1.2em;			
		}
		
	</style>

</head>
<body>
	<div class="jumbotron text-center">
		<h1>Wishlist</h1>		
	</div>
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="text-center col-lg-8 tabela">

			<table class="table">
				<thead>
					<tr>
						<th class="text-center">Model</th>
						<th class="text-center">VRAM (MB)</th>
						<th class="text-center">TDP (W)</th>
						<th class="text-center">Price (RSD)</th>
						<th class="text-center">Rating (0-10)</th>
						<th class="text-center">Full specs</th>
						<th class="text-center">Remove from wishlist</th>
					</tr>
				</thead>
				<tbody>
					<form method="POST" action="/remove-from-wishlist" id="wishlist_form">
					</form>		
					{{#results}}
					
					<tr>
						<td>{{model}}</td>
						<td>{{vram}}</td>
						<td>{{tdp}}</td>
						<td>{{price}}</td>
						<td>{{rating}}</td>
						<td><a href="{{url}}">{{url}}</a></td>
						<td><button class="btn btn-default" name="gpu-id" type="submit" value="{{_id}}" form="wishlist_form">Remove</button></td>
					</tr>					
					
					{{/results}}					
				</tbody>
			</table>

			<br>
			<hr>
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			<b><a href="/index">Back to index page</a></b>
			<br>
			<hr>
		</div>
		<div class="col-lg-2"></div>
	</div>

</div>

</body>

</html>
